{# overrides/content.html #}

<!-- Legal Disclaimer -->

{% if "legal-banner" in page.meta %}
    <div class="legal-banner">
    <b style="color: #BFC3C8;">Disclaimer:</b> This material is provided for educational purposes and authorized security testing only.
    <b>You</b> are solely responsible for how <b>you</b> use the information. Do not use these techniques on systems without explicit permission from the owner.
    We <b><a href="/index.html">
    do not encourage </a></b> any kind of illegal or harmful activity
    </div>
{% endif %}

<!-- Page content -->
{{ page.content }}
